
@{
    ViewData["Title"] = "Education";
    <!-- ======= Breadcrumbs ======= -->
}

<section id="breadcrumbs" class="breadcrumbs">
    <div class="container">

        <div class="d-flex justify-content-between align-items-center">
            <h2>Education</h2>
            <ol>
                <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                <li>Education</li>
            </ol>
        </div>

    </div>
</section><!-- End Breadcrumbs -->

<section id="team" class="team section-bg">
    <div class="container">

        <div class="section-title" data-aos="fade-up">
            <h2><strong>University College Cork - Business Information Systems</strong></h2>
            <h4>September 2017 - Present</h4>
            <p>
                <i>BSc(Hons), Business Information Systems - Final Year</i>
                <br /><br />
                <strong>1st Year Examination Results:</strong><br />
                <strong>Second Class Honours Grade 1</strong><br />
                751/1200 marks
                <br /><br />
                <strong>2nd Year Examination Results:</strong><br />
                <strong>First Class Honours</strong><br />
                840/1200 marks
                <br /><br />
                <strong>3rd Year Examination Results:</strong><br />
                <strong>Second Class Honours Grade 1</strong><br />
                781/1200 marks
            </p>

        </div>
    </div>
</section>

<section id="skills" class="skills">
    <div class="container">

        <div class="section-title" data-aos="fade-up">
            <h2><strong>Bandon Grammar School</strong></h2>
            <h4>September 2011 - June 2017</h4>
            <p>
                <br />
                <strong>Leaving Certificate Results:</strong><br />
                <i>All subjects taken at higher level</i><br /><br />

                <table class="table">
                   
                    <tbody>
                        <tr>
                            <th scope="row">Subject</th>
                            <td>Economics</td>
                            <td>Geography</td>
                            <td>Biology</td>
                            <td>Spanish</td>
                            <td>English</td>
                            <td>Irish</td>
                            <td>Maths</td>
                        </tr>
                        <tr>
                            <th scope="row">Grade</th>
                            <td>H2</td>
                            <td>H2</td>
                            <td>H2</td>
                            <td>H3</td>
                            <td>H3</td>
                            <td>H4</td>
                            <td>H5</td>
                        </tr>                     
                    </tbody>
                </table>

            </p>

        </div>
    </div>
</section>
