
@{
    ViewData["Title"] = "Volunteer Experience";
}

<!-- ======= Breadcrumbs ======= -->
<section id="breadcrumbs" class="breadcrumbs">
    <div class="container">

        <div class="d-flex justify-content-between align-items-center">
            <h2>Volunteer Experience</h2>
            <ol>
                <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                <li>Volunteer Experience</li>
            </ol>
        </div>

    </div>
</section><!-- End Breadcrumbs -->


<section id="team" class="team section-bg">
    <div class="container">

        <div class="section-title" data-aos="fade-up">
            <h2><strong>Conservation Volunteer - Marataba National Park</strong></h2>
            <h4>June 2019 - July 2019</h4>
            <img style="vertical-align:top; height:240px; border-radius:150px; display: block; margin-left: auto; margin-right: auto; width: auto;" src="~/img/Marataba.jpg" alt="Working with Kids in Kolkata, India" class="img-thumbnail">
            <br />
            <p>
                <i>Marataba is a 21,000 hectare, privately managed section of the Marakele National Park in Limpopo, South Africa</i>
                <br /><br />
                I spent three weeks living and working on Marataba National Park to conserve the bushveld and protect the endangered species inhabited there. I was involved in laborious activities such as bush clearing and rebuilding perimeter fences as well
                as tracking and relocating animals such as kudu and buffalo.

            </p>
        </div>
    </div>
</section>

<section id="skills" class="skills">
    <div class="container">

        <div class="section-title" data-aos="fade-up">
            <h2><strong>Fundraiser and Overseas Volunteer - The Hope Foundation</strong></h2>
            <h4>October 2014 - February 2015</h4>
            <img style="vertical-align:top; height:240px; border-radius:150px; display: block; margin-left: auto; margin-right: auto; width: auto;" src="~/img/Hope.jpg" alt="Working with Kids in Kolkata, India" class="img-thumbnail">
            <br />
            <p>
                <i>The Hope Foundation is an Irish Charity focused on working with poverty stricken children in Kolkata, India.</i>

                <br /><br />
                During transition year I undertook a programme run by the HOPE foundation to travel to Kolkata, India to work with children living under extreme poverty. Myself and a fundraising partner worked as a team to organise a number of fundraising events for the charity throughout the year. In total we raised over €6000. In February of that academic year I visited the very
                places to which the money raised was donated including a school set up by HOPE in one of the many slums, a hospital for street children and a rehabilitation centre for boys taken off the streets who were struggling with substance abuse.
            </p>
        </div>


    </div>
</section>



