
@{
    ViewData["Title"] = "Work Experience";
}

<!-- ======= Breadcrumbs ======= -->
<section id="breadcrumbs" class="breadcrumbs">
    <div class="container">

        <div class="d-flex justify-content-between align-items-center">
            <h2>Work Experience</h2>
            <ol>
                <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                <li>Work Experience</li>
            </ol>
        </div>

    </div>
</section><!-- End Breadcrumbs -->


<section id="team" class="team section-bg">
    <div class="container">

        <div class="section-title" data-aos="fade-up">
            <h2><strong>Northwell Health - Digital Team Intern</strong></h2>
            <h4>March 2020 - September 2020</h4>
            <p>
                <i>Northwell Health is the largest private health system in New York state, with over 20 hospitals and 800 outpatient facilities.</i>
                <br /><br />
                I completed a six-month internship with Northwell Health’s digital team as part of my university degree. My role within the team was as a web-producer.<br /><br />
                I was involved in several projects during this time including web migrations, automation of front-end testing, tech-product research and  UX design.
            </p>
        </div>
    </div>
</section>

<section id="skills" class="skills">
    <div class="container">

        <div class="section-title" data-aos="fade-up">
            <h2><strong>Ethos Private Equity - Value Add Intern</strong></h2>
            <h4>May 2019 - July 2019</h4>
            <p>
                <i>Ethos is a private equity firm based in Johannesburg, South Africa that operates across Sub-Saharan Africa.</i>

                <br /><br />
                During my summer break I travelled to Johannesburg, South Africa where I worked with Ethos as part of the value-add team for four weeks. The firm owns outright or majority shares in over twenty portfolio companies around Sub-Saharan Africa. <br /><br /> The value- add team works closely with the management of these companies to improve internal processes and strategy, ensuring growth and value creation.
                As part of the value-add team I also working on a data project aimed at streamlining and introducing automation to the monthly performance reporting process of these portfolio companies.
            </p>
        </div>


    </div>
</section>

<section id="team" class="team section-bg">
    <div class="container">

        <div class="section-title" data-aos="fade-up">
            <h2><strong>Sober Lane - Bartender</strong></h2>
            <h4>October 2019 - February 2020</h4>
            <p>
                <i>Sober Lane is a cocktail and street food bar located in Cork City.</i>
                <br /><br />
                Sober Lane is the most recent bar that I have worked in. I have been working in bars and restaurants since I was 16 which has been my primary source of income throughout my education. <br />
                <br />
                Working in the hospitality industry has given me the confidence to become more personable and I have developed strong customer service skills. I enjoy the social aspect of working in bars and it has taught me a lot about running businesses and working in a team.
            </p>
        </div>
    </div>
</section>


