
@{
    ViewData["Title"] = "Contact Me";
}

<section id="breadcrumbs" class="breadcrumbs">
    <div class="container">

        <div class="d-flex justify-content-between align-items-center">
            <h2>Contact</h2>
            <ol>
                <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                <li>Contact</li>
            </ol>
        </div>

    </div>
</section><!-- End Breadcrumbs -->

<section id="contact" class="contact">
    <div class="container">

        <div class="row justify-content-center" data-aos="fade-up">

            <div class="col-lg">

                <div class="info-wrap">
                    <div class="row">
                        <div class="col-lg-4 info">
                            <i class="bx bxl-linkedin"></i>
                            <h4>LinkedIn:</h4>
                            <p>
                                Connect with me on LinkedIn.<br><br>
                                <a href="https://www.linkedin.com/in/alexander-eames-48b140151/" target="_blank" > Click here to view my LinkedIn profile.</a>
                            </p>

                        </div>

                        <div class="col-lg-4 info mt-4 mt-lg-0">
                            <i class="icofont-envelope"></i>
                            <h4>Email:</h4>
                            <p>alex.eames98@gmail.com</p>
                        </div>

                        <div class="col-lg-4 info mt-4 mt-lg-0">
                            <i class="icofont-phone"></i>
                            <h4>Mobile:</h4>
                            <p>+353 879152471</p>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</section>
