
@{
    ViewData["Title"] = "About Me";
}

<section id="breadcrumbs" class="breadcrumbs">
    <div class="container">

        <div class="d-flex justify-content-between align-items-center">
            <h2>About Me</h2>
            <ol>
                <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                <li>About Me</li>
            </ol>
        </div>

    </div>
</section><!-- End Breadcrumbs -->

<section id="about-us" class="about-us">
    <div class="container">

        <section id="team"  style="height: 300px";
        background-color: white;>
            <img style="vertical-align:top; height:240px; border-radius:150px; display: block; margin-left: auto; margin-right: auto; width: auto;" src="~/img/ProfilePic.jpg" alt="Profile picture" class="img-thumbnail">
            <div class="row no-gutters">
        </section>

                <div>
                    <div class="content d-flex flex-column justify-content-center">
                        <h3 data-aos="fade-up">About Me</h3>
                        <p data-aos="fade-up">
                            I am a 22 year old student in my final year of studying Business Information Systems in UCC.
                            I am an active individual with a passion for technology, sports, music and travel.


                        </p>
                        <div class="row">
                            <div class="col-md-6 icon-box" data-aos="fade-up">
                                <i class="bx bx-cube-alt"></i>
                                <h4>Sports</h4>
                                <p>
                                    I love to play sports and I enjoy keeping fit. I train in <strong>Brazilian Jiu-Jitsu</strong> four times a week and enjoy being in the <strong>gym</strong>.
                                    I also like to play <strong>soccer</strong> with friends on weekends and I am an avid <strong>rugby</strong> fan.
                                </p>
                            </div>
                            <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="100">
                                <i class="bx bx-cube-alt"></i>
                                <h4>Music</h4>
                                <p>
                                    I am a music enthusiast. I enjoy playing the <strong>guitar</strong> and am teaching myself to play the <strong>drums</strong> and <strong>mandolin.</strong>
                                    I like a wide variety of music including <strong>rock</strong>, <strong>rap</strong> and <strong>jazz</strong>.
                                </p>
                            </div>
                            <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="200">
                                <i class="bx bx-cube-alt"></i>
                                <h4>Technology</h4>
                                <p>
                                    I am passionate about technology and am always looking for opportunities to expand my skillset. I am studying <strong>Business Information Systems</strong> in University College Cork which
                                    has taught me the fundamentals of <strong>web-development</strong>, <strong>mobile-development</strong>, <strong>database engineering</strong> and other fields in software development.
                                </p>
                            </div>
                            <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="300">
                                <i class="bx bx-cube-alt"></i>
                                <h4>Travelling</h4>
                                <p>
                                    Working in bars and restaurants throughout my life has taught me important <strong>social skills</strong> and has allowed me to meet a variety of people from all walks of life.
                                    This has fed my <strong>passion for travelling</strong> and discovering new places. I am always up for the challenge of <strong>trying new things</strong> and <strong>learning about different cultures</strong>.
                                    I have worked in places such as <strong>South Africa</strong>, <strong>New York</strong>, <strong>London</strong> and <strong>India</strong>.
                                </p>
                            </div>
                        </div>
                    </div><!-- End content-->
                </div>
            </div>

    </div>
</section><!-- End About Us Section -->